---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Sustanzia is a trademark of Gonzales Enterprises Corporation.</h2>


			<p>
		Hangarin ng Gonzales Enterprises Corporation na mag-import ng mga premium products mula sa New Zealand.
		Sustanzia Pure New Zealand Organic Barley Grass Powder ang unang produkto na ilalabas sa merkado.
		Ito ay mabibili sa abot-kayang halaga.
</p>
<p></p>
<h3> Contact Us </h3>
<p>info@sustanzia.com.ph</p>
<p>+63 917 102 5244</p>
<p>74 Santa Rita West, Aringay, La Union, Philippines 2503</p>
			
		</main>
		<Footer />
	</body>
</html>
